@model TTGarmentAdmin.Models.DashboardModel
@using GridMvc.Html
@{
    ViewBag.Title = "Festive Point View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .box-style {
        width: 25% !important;
        display: inline-block !important;
        height: 38px !important;
        margin: 0px 29px !important;
    }

    table.grid-table {
        font-size: 11px;
    }

    .uploadBox {
        height: 59px;
        vertical-align: middle;
        background: lightgoldenrodyellow;
        padding-top: 1.4%;
        margin-left: 0px;
    }
</style>

<h3>Festival Point Master</h3>

<div class="row">
    <div class="col-lg-12" style="margin-left: 5px;" id="responseContainer">
        <div class="btn btn-large btn-primary"><a style="color:white;" href="@Url.Action("GetAddFestivePointView", "Dashboard", new { Id = string.Empty })">Add Festival Point</a></div>
        <div  style="margin-top:10px;" id="resultContainer">
            @Html.Partial("~/Views/Dashboard/_festivePointListPartialView.cshtml", Model)
        </div>

    </div>
</div>

@*<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>*@

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

<script src="~/Scripts/Project/dashboard.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>

<script>
    var jq = $.noConflict();
    jq(".preloader").hide();
    jq(document).ready(function () {
        //if (jq("#export").length > 0) {
        //    jq("#export").unbind();
        //    jq("#export").click(function () {
        //        jq("#table2Excel").unbind();
        //        var dateToday = new Date();
        //        jq("#table2Excel").table2excel({
        //            exclude: ".noExl",
        //            name: "Excel Document Name",
        //            filename: "products-" + dateToday,
        //            fileext: ".xls",
        //            exclude_img: true,
        //            exclude_links: true,
        //            exclude_inputs: true
        //        });
        //    });
        //}
    });
</script>


